# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
.venv/
env/
venv/

# VSCode / IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# outputs
outputs/

# Python egg metadata
*.egg-info/
